body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

section .hobby {
    margin-bottom: 20px;
}
h1 {
    font-size: 24px; /* tamaño letra */
    color: #333; /*  color negro */
}
h2, h3 {
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-gap: 20px; /* Espacio entre imágenes */
    padding: 20px; /* Espacio alrededor de la cuadrícula */
}

.gallery-item img {
    width: 80%; /* Hace que las imágenes ocupen todo el contenedor */
    height: auto; /* Mantiene la proporción de aspecto original */
    border-radius: 10px; /* Bordes redondeados opcional */
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}